@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#ac5aff] hover:text-[#ac5aff]/40 xl:m-1 z-20 items-center
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-3 py-4 border-[#ae36ff]/40 text-gray-500 transition-all focus:border-[#ae36ff] focus:text-[#ae36ff] hover:border-[#ae36ff]
    }

}

html {
    scroll-behavior: smooth !important;
}

.description-text {
    font-size: x-small;
}

.image-box {
    border-radius: 100%;
    box-shadow: 0px 0px 300px 10px #ac5aff;
    
}
